spring:
  application:
    name: movieChecker

  datasource:
    url: ${DATASOURCE_URL}
    username: ${DATASOURCE_USERNAME}
    password: ${DATASOURCE_PASSWORD}

  jpa:
    properties:
      hibernate:
        default_schema: movie_checker

    hibernate:
      ddl-auto: none

    show-sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

  jwt:
    secret: ${JWT_SECRET}
    accessTokenExpiration: 10800       # 3h
    refreshTokenExpiration: 604800    # 7d

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${GMAIL_ACCOUNT}
    password: ${GMAIL_APP_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

websiteBackendUrl: http://localhost:8080
